{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="form_wrap">
  <h1>Вход</h1>

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}

  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  <p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
  {% endif %}

  <p>Введите имя пользователя и пароль</p>
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="primaryAction form_button" type="submit">Войти</button>   
  </form>

    <div class="socialaccount_ballot">
      <p>Или войдите с</p>
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
    </div>

  <div class="account_additional_functionality">
    <p>Впервые у нас? <a href="{{ signup_url }}">Регистрация</a></p>
  </div>
</div>
{% endblock %}
