@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(51, 51, 51);
}

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}