*{
    border: none;
    transition: 0.2s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  background: linear-gradient(45deg, rgba(51,51,51,0.2) 0%, rgba(51,51,51,0.1) 100%);
  border-radius: 5px;
  height: 26px;
  width: 100%;
  padding: 5px;
}

body{
    display: grid;
    grid-template-columns: 1.3fr 1fr 1.3fr;
    padding: 30px 0px;
    min-height: 100vh;
}

.card_form{
    grid-column: 2;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    padding: 15px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    height: 100%;
}

.card_title{
    height:34px;
    display: block;
    font-size: 26px;
}

.counter_label{
    width: 100%;
    font-size: 14px;
    height: min-content;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 25px 0px;
}

.card_max_people_count{
    justify-self: right;
}

textarea{
    resize: none;
    overflow:hidden;
    border-bottom: 1px solid rgba(51, 51, 51, 0.6);
}

textarea:focus{
    border-bottom: 2px solid rgba(51, 51, 51, 0.9);
}

.card_description{
    height:28px;
}

input[type="file"] {
    display: none;
}

.card_images_input{
    margin-top: 20px;
    background: linear-gradient(45deg, rgba(51,51,51,0.2) 0%, rgba(51,51,51,0.1) 100%);
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
}

.card_images_input:hover, .submit_button:hover{
    background-color: rgba(51, 51, 51, 0.2);
}

.submit_button{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    background: linear-gradient(45deg, rgba(51,51,51,0.2) 0%, rgba(51,51,51,0.1) 100%);
    bottom: 40px;
    justify-self: center;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
}