:root{
    --window_height: 100vh;
    --card_margin_y: 30px;
    --card_height: calc(var(--window_height) - calc(var(--card_margin_y) * 2));
    --card_user_image_wrapper_size: 60px;
    --card_user_info_padding_y: 25px;
    --card_content_height: calc(var(--card_height) - 70px - var(--card_user_image_wrapper_size) - calc(var(--card_user_info_padding_y)*2));
    --card_text_content_height: 250px;
    --card_images_height: calc(var(--card_content_height) - var(--card_text_content_height))
}

.card_wrapper{
    display: grid;
    grid-template-columns: 1.3fr 1fr 1.3fr;
    width: 100%;
}

.card_face{
    position: relative;
    width: 400px;
    max-width: 500px;
    grid-column: 2;
    min-height: var(--card_height);
    border-radius: 10px;
    margin: var(--card_margin_y) 0px;
    transition: 0.2s;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    padding: 0px 25px;
    overflow-wrap: break-word;
}

.card_user_info{
    padding: var(--card_user_info_padding_y) 0px;
    border-bottom: 1px solid rgb(51, 51, 51);
    display: flex;
    align-items: center;
}

.card_user_image_wrapper{
    overflow: hidden;
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_user_name{
    padding-left: 25px;
    font-size: 26px;
}

.card_user_image{
    height: 100%;
    justify-self: center;
}

.card_content{
    height: var(--card_content_height);
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 70px;
}

.card_text_content{
    min-height: var(--card_text_content_height);
    height: var(--card_text_content_height);
    overflow: hidden;
    position: relative;
} 

.card_description_hider{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.card_description_hider_hide{
    display: none;
}

.card_title_and_counter{
    padding: 15px 0px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
}

.card_title{
    font-size: 24px;
}

.card_counter{
    justify-self: right;
}

.card_description{
    font-size: 18px;
    white-space: pre-wrap;
}

.card_images{
    height: var(--card_images_height);
    overflow: hidden;
}

.card_image_wrapper{
    height: 100%;
    width: auto;
    overflow: hidden;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.card_image{
    height: 100%;
    border-radius: 10px;
}

.buttons_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.card_button{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: none;
    justify-self: center;
    transition: 0.2s;
    cursor: pointer;
    line-height: 0;
}

.card_button .material-icons-round{
    font-size: 28px;
    color: #fff;
}

.yes{
    background-color: rgb(72, 250, 66);
}

.message{
    background-color: rgb(66, 152, 250);
}

.no{
    background-color: rgb(255, 46, 46);
}

.yes:hover{
    background-color: rgb(110, 255, 105);
}

.message:hover{
    background-color: rgb(94, 169, 255);
}

.no:hover{
    background-color: rgb(255, 71, 71);
}

.no_clicked{
    transform: translateX(-50px);
    opacity: 0;
}

.yes_clicked{
    transform: translateX(50px);
    opacity: 0;
}

.card_content_full{
    height: auto;
}

.card_images_full{
    height: auto !important;
    width: 100% !important;
}