:root{
    --card_height: auto;
}

.mini_cards_container{
    padding: 30px 0px;
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
}

.mini_cards_wrapper{
    grid-column: 2;
    columns: 2;
    column-gap: 10px;
    width: 100%;
    break-inside: avoid;
}

.card_face{
    width: 100%;
    break-inside: avoid;
    margin: 3px 0px;
    transform: translateZ(0);
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid grey;
    min-height: auto;
    height: auto;
    padding: 15px;
    display: block;
    margin: 0;
    margin-bottom: 10px;
}

.card_content{
    padding: 0;
}

.card_user_info{
    padding-top: 10px;
}

.card_images{
    height: auto;
    min-height: auto;
}

.card_image_wrapper{
    height: auto;
    width: 100%;
}

.card_image{
    height:auto;
    width: 100%;
}

.card_manipulation{
    text-align: right;
}

.card_more{
    cursor: pointer;
    border-radius: 40px;
    font-size: 22px;
    transition: 0.2s;
}

.card_more:hover{
    background-color: rgb(219, 219, 219);
}

.card_more_options_container{
    background-color: white;
    position: absolute;
    right: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1;
}

.card_more_options_container_visible{
    display: block;
}

.card_more_option{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: 0.2s;
}

.card_more_option:hover{
    background-color: rgb(219, 219, 219);
}

.card_text_content{
    height: auto;
}