.profile_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 0px;
}

.profile_user_info{
    grid-column: 2;
}

.card_user_image_wrapper{
    overflow: hidden;
    background-size: cover;
    border-radius: 80px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_user_image{
    height: 100%;
}