{% extends 'ShumiApp/base.html' %}

{%block content%}
    {% include 'ShumiApp/navigation.html' %}
    <div class="card_wrapper">    
        {% for card in cards %}
        <div class="card_face">
            <div class="card_content">
                <div class="card_title">
                    {{card.title}}
                </div>
                <div class="card_description">
                    {{card.description}}
                </div>
                {%if card.images%}
                <div class="card_images">
                    {%for cardimage in card.images%}
                        <div class="card_image_wrapper">
                            <img src="{{cardimage.image.url}}">
                        </div>
                    {%endfor%}
                </div>
                {%endif%}
            </div>
        </div>
        {% endfor %}
    </div>
{%endblock%}