{% load static %}
{% load socialaccount%}
{% providers_media_js %}
<link rel="stylesheet" href="{% static 'css/navigation.css' %}">

{% if request.user.is_authenticated %}
<nav>
    <ul>
        <li class="nav_element">
            <a href="{% url 'profile_user' 'my' %}">
                <div class="nav_button">
                    <div class="material-icons-round">person_outline</div>
                </div>
            </a>
            <div class="nav_button_description">
                <p>Профиль</p>
            </div>
        </li>
        <li class="nav_element">
            <a href="{%url 'main'%}">
                <div class="nav_button">
                    <div class="material-icons-round">search</div>
                </div>
            </a>
            <div class="nav_button_description">
                <p>Лента</p>
            </div>
        </li>
        <li class="nav_element">
            <a href="">
                <div class="nav_button">
                    <div class="material-icons-round">mail_outline</div>
                </div>
            </a>
            <div class="nav_button_description">
                <p>Сообщения</p>
            </div>
        </li>
        <li class="nav_element">
            <a href="">
                <div class="nav_button">
                    <div class="material-icons-round">notifications_none</div>
                </div>
            </a>
            <div class="nav_button_description">
                <p>Уведомления</p>
            </div>
        </li>
        <li class="nav_element">
            <a href="{%url 'archive'%}">
                <div class="nav_button">
                    <div class="material-icons-round">view_carousel</div>
                </div>
            </a>
            <div class="nav_button_description">
                <p>Архив</p>
            </div>
        </li>
        <li class="nav_element logout_button">
            <a href="{%url 'account_logout'%}">
                <div class="nav_button">
                    <div class="material-icons-round">logout</div>
                </div>
            </a>
            <div class="nav_button_description">
                <p>Выход</p>
            </div>
        </li>
    </ul>
</nav>

{% endif %} 

<script src="{% static 'js/navigation.js' %}"></script>