<nav>
    <ul>
        <li>
            <a href="">
                <div class="nav_button">
                    <div class="material-icons-round">person</div>
                </div>
            </a>
        </li>
        <li>
            <a href="{%url 'main'%}">
                <div class="nav_button">
                    <div class="material-icons-round">search</div>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div class="nav_button">
                    <div class="material-icons-round">chat</div>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div class="nav_button">
                    <div class="material-icons-round">notifications</div>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div class="nav_button">
                    <div class="material-icons-round">archive</div>
                </div>
            </a>
        </li>
    </ul>
</nav>